<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap">
  <div class="d-flex align-items-center w-100">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-primary--hover" [routerLink]="'dashboard'">Resync HR</a>

    <!-- Hamburger button -->
    <button (click)="navbarToggled = !navbarToggled" class="navbar-toggler ml-auto d-md-none">
      <i class="fa fa-bars text-white"></i>
    </button>
    <!-- End hamburger button -->
  </div>

  <div [hidden]="navbarToggled === false" class="d-md-none w-100">
    <!-- Nav divider -->
    <div class="border-top w-100 mb-1 mt-3"></div>
    <!-- End nav divider -->

    <!-- Nav items -->
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" [routerLink]="'/dashboard'" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item text-nowrap">
        <a class="nav-link" [routerLink]="'/organizations'" routerLinkActive="active">Organizations</a>
      </li>
      <li class="nav-item text-nowrap" [routerLink]="'/departments'" routerLinkActive="active">
        <a class="nav-link">Departments</a>
      </li>
      <li class="nav-item text-nowrap" [routerLink]="'/employees'" routerLinkActive="active">
        <a class="nav-link">Employees</a>
      </li>
      <li class="nav-item text-nowrap" [routerLink]="'/calendar'" routerLinkActive="active">
        <a class="nav-link">Calendar</a>
      </li>
      <li class="nav-item text-nowrap">
        <button (click)="showLogoutConfirmationPopup()" class="btn-clear nav-link text-danger">Sign out</button>
      </li>
    </ul>
    <!-- End nav items -->
  </div>

  <!-- Nav items -->
  <ul class="navbar-nav d-none d-md-block px-3">
    <li class="nav-item text-nowrap">
      <button (click)="showLogoutConfirmationPopup()" class="btn-clear nav-link">Sign out</button>
    </li>
  </ul>
  <!-- End nav items -->
</nav>