:host {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
