<!-- Loading bar -->
<ngx-loading-bar [color]="'#FFFFFF'" [includeSpinner]="false"></ngx-loading-bar>
<!-- End loading bar -->

<!-- Main content -->
<div class="main-container">
  <!-- Show side menu and nav only if the user is authorized -->
  <ng-container *ngIf="(authorizationState$ | async) === AuthorizationState.Authorized; else unauthorizedOutlet">
    <app-nav></app-nav>
    <div class="container-fluid h-100 overflow-auto">
      <div class="row h-100">
        <div class="col-md-2 d-none d-md-block">
          <app-side-menu></app-side-menu>
        </div>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 py-3 px-4">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </ng-container>

  <ng-template #unauthorizedOutlet>
    <router-outlet></router-outlet>
  </ng-template>
</div>
<!-- End main content -->

<!-- Popups and toasts -->
<app-toast></app-toast>
<app-popups></app-popups>
<!-- End popups and toasts -->
