<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link d-flex text-primary--hover" [routerLink]="'/dashboard'" routerLinkActive="active">
          <i class="fa fa-chart-bar mr-2"></i>
          Dashboard
        </a>
      </li>
      
      <li class="border-top w-100 my-2"></li>

      <li class="nav-item">
        <a class="nav-link d-flex text-primary--hover" [routerLink]="'/organizations'" routerLinkActive="active">
          <i class="fa fa-chess mr-2"></i>
          Organizations
        </a>
      </li>
      
      <li class="border-top w-100 my-2"></li>

      <li class="nav-item">
        <a class="nav-link d-flex text-primary--hover" [routerLink]="'/departments'" routerLinkActive="active">          
          <i class="fa fa-sitemap mr-2"></i>
          Departments
        </a>
      </li>
      
      <li class="border-top w-100 my-2"></li>
      
      <li class="nav-item">
        <a class="nav-link d-flex text-primary--hover" [routerLink]="'/employees'" routerLinkActive="active">
          <i class="fa fa-users mr-2"></i>
          Employees
        </a>
      </li>
      
      <li class="border-top w-100 my-2"></li>
      
      <li class="nav-item">
        <a class="nav-link d-flex text-primary--hover" [routerLink]="'/calendar'" routerLinkActive="active">
          <i class="fa fa-calendar-alt mr-2"></i>
          Calendar
        </a>
      </li>
    </ul>
  </div>
</nav>