<h2 class="h2 mb-2 text-capitalize">{{mode}} Department</h2>
<div class="border-top w-100 mt-2 mb-4"></div>

<form *ngIf="createEditForm; else loader" [formGroup]="createEditForm" (submit)="submitForm()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="name"
        class="form-control"
        id="name"
        placeholder="Name"
        [ngClass]="{'is-invalid': controls.name.dirty && controls.name.errors}"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="owner">Owner <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="owner"
        class="form-control"
        id="owner"
        placeholder="Owner"
        [ngClass]="{'is-invalid': controls.owner.dirty && controls.owner.errors}"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="description">Description <span class="text-danger font-weight-bold">*</span></label>
      <textarea
        formControlName="description"
        class="form-control"
        id="description"
        placeholder="Description"
        [ngClass]="{'is-invalid': controls.description.dirty && controls.description.errors}"
      ></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="workDays">Work days <span class="text-danger font-weight-bold">*</span></label>
      <ngx-select
        [items]="workDayList"
        [multiple]="true"
        [autoClearSearch]="true"
        formControlName="workDays"
        optionValueField="1"
        optionTextField="0"
        placeholder="Select one or more days"
      ></ngx-select>
    </div>
    <div *ngIf="mode === 'create'" class="form-group col-md-6">
      <label for="organizationId">Organization <span class="text-danger font-weight-bold">*</span></label>
      <ngx-select
        [items]="organizationList"
        [multiple]="false"
        [autoClearSearch]="true"
        formControlName="organizationId"
        optionValueField="id"
        optionTextField="name"
        placeholder="Select an organization"
      ></ngx-select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="workTimes">Work times <span class="text-danger font-weight-bold">*</span></label>
      <div class="d-flex align-items-center flex-wrap">
        <div class="mr-3 mb-2">
          <small>Start time</small>
          <ngb-timepicker formControlName="startWorkTime"></ngb-timepicker>
        </div>
        <div class="mb-2">
          <small>End time</small>
          <ngb-timepicker formControlName="endWorkTime"></ngb-timepicker>
        </div>
      </div>
    </div>
  </div>
  <button
    [disabled]="(createEditForm.invalid || submitted) === true"
    type="submit"
    class="btn btn-lg btn-primary text-capitalize float-right"
  >
    <div *ngIf="submitted === true; else submitText" class="loader"></div>
    <ng-template #submitText>{{mode}}</ng-template>
  </button>
</form>

<ng-template #loader>
  <div class="loader loader--2x"></div>
</ng-template>