<div class="d-flex align-items-center justify-content-between flex-wrap">
  <h2 class="h2 mb-2">Departments</h2>
  <a class="btn btn-primary btn-md mb-2" [routerLink]="['/departments', 'new']">
    <i class="fa fa-plus"></i>&nbsp; New
  </a>
</div>

<div class="border-top w-100 mb-4"></div>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Organization</th>
      <th scope="col">Description</th>
      <th scope="col">Owner</th>
      <th scope="col">Work Times</th>
      <th scope="col">Work Days</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(loading$ | async) === false && departmentList; else loader">
      <tr *ngFor="let department of departmentList | paginate: pagination; let i = index">
        <th class="text-center" scope="row">{{i + 1}}</th>
        <td>{{department.name}}</td>
        <td>{{department.organization.name}}</td>
        <td>{{department.description}}</td>
        <td>{{department.owner}}</td>
        <td>{{department.workTimeRange}}</td>
        <td>
          <span *ngFor="let day of department.workDays; let last = last">
            {{ WorkDayMap[day] }}
            {{ last === false ? ',' : '' }}
          </span>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <a [routerLink]="['/departments', 'edit', department.id]">Edit</a>
            &nbsp;|&nbsp;
            <button class="btn btn-clear btn-underline text-danger p-0" (click)="openDeleteConfirmationPopup(department)">Delete</button>
          </div>
        </td>
      </tr>

      <tr *ngIf="departmentList.length === 0">
        <td class="text-center py-2" colspan="8">No departments found</td>
      </tr>
    </ng-container>

    <ng-template #loader>
      <tr>
        <td colspan="8">
          <div class="loader my-2"></div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
</div>

<app-paginator *ngIf="(loading$ | async) === false && departmentList.length > 0" (pageChange)="handlePageChange($event)"></app-paginator>
