<div class="d-flex align-items-center justify-content-between flex-wrap">
  <h2 class="h2 mb-2">Employees</h2>
  <a class="btn btn-primary btn-md mb-2" [routerLink]="['/employees', 'new']">
    <i class="fa fa-plus"></i>&nbsp; New
  </a>
</div>

<div class="border-top w-100 mb-4"></div>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Organization</th>
      <th scope="col">Department</th>
      <th scope="col">Work Title</th>
      <th scope="col">Years of Experience</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(loading$ | async) === false && employeeList; else loader">
      <tr *ngFor="let employee of employeeList | paginate: pagination; let i = index">
        <th class="text-center" scope="row">{{i + 1}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.dateOfBirth}}</td>
        <td>{{employee.organization.name}}</td>
        <td>{{employee.department.name}}</td>
        <td>{{employee.workTitle}}</td>
        <td>{{employee.totalExperience}}</td>
        <td>
          <div class="d-flex align-items-center">
            <a [routerLink]="['/employees', 'edit', employee.id]">Edit</a>
            &nbsp;|&nbsp;
            <button class="btn btn-clear btn-underline text-danger p-0" (click)="openDeleteConfirmationPopup(employee)">Delete</button>
          </div>
        </td>
      </tr>

      <tr *ngIf="employeeList.length === 0">
        <td class="text-center py-2" colspan="8">No employees found</td>
      </tr>
    </ng-container>

    <ng-template #loader>
      <tr>
        <td colspan="8">
          <div class="loader my-2"></div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
</div>

<app-paginator *ngIf="(loading$ | async) === false && employeeList.length > 0" (pageChange)="handlePageChange($event)"></app-paginator>
