:host {
  width: auto;

  pagination-template {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .pages {
      margin: 0 0.5rem;
      width: max-content;

      .page:not(:last-child) {
        margin: 0 0.25rem 0 0;
      }
    }

    .previous,
    .next,
    .page {
      width: 2.375rem;
      height: 2.125rem;
      outline: none;
      background: rgba(255, 255, 255, 0.2);
      border: none;
      border-radius: 0.25rem;
      font-weight: 500;

      &.current {
        pointer-events: none;
      }

      &:hover,
      &.current {
        background: transparent;
        border: 0.031rem solid lightgrey;
      }
    }
  }
}
