<pagination-template
  #paginator="paginationApi"
  (pageChange)="pageChange.emit($event)"
  (pageBoundsCorrection)="pageBoundsCorrection.emit($event)"
>
  <button
    *ngIf="paginator.isFirstPage() === false"
    [disabled]="paginator.isFirstPage() === true"
    (click)="paginator.previous()"
    class="previous"
  >
    &larr;
  </button>

  <div class="pages">
    <button
      *ngFor="let page of paginator.pages"
      (click)="paginator.setCurrent(page.value)"
      class="page"
      [ngClass]="{ 'current': paginator.getCurrent() === page.value }"
    >
      {{ page.label }}
    </button>
  </div>

  <button
    *ngIf="paginator.isLastPage() === false"
    [disabled]="paginator.isLastPage() === true"
    (click)="paginator.previous()"
    class="next"
  >
    &rarr;
  </button>
</pagination-template>
