<div class="h-100 w-100 d-flex align-items-center justify-content-center text-center">
  <form [formGroup]="loginForm" (submit)="submitLoginForm()" class="auth-form">
    <h2 class="h2 mb-2 font-weight-bold text-primary">Resync HR</h2>
    <h4 class="h6 mb-3 font-weight-normal">Please sign in</h4>

    <label for="email" class="sr-only">Email address</label>
    <input
      formControlName="email"
      id="email"
      class="form-control form-invalid mb-2"
      placeholder="Email address"
      [ngClass]="{'is-invalid': loginFormControls.email.dirty && loginFormControls.email.errors}" />

    <label for="password" class="sr-only">Password</label>
    <input
      formControlName="password"
      type="password"
      id="password"
      class="form-control mb-3"
      placeholder="Password"
      [ngClass]="{'is-invalid': loginFormControls.password.dirty && loginFormControls.password.errors}"/>

    <!-- Invalid credentials error -->
    <small
      *ngIf="invalidCredentials === true"
      class="text-danger d-block mb-3"
    >- Invalid username or password provided</small>
    <!-- End invalid credentials error -->

    <button
      [disabled]="(loginForm.invalid || submitted) === true"
      class="btn btn-lg btn-primary btn-block mb-3"
      type="submit"
    >
      <div *ngIf="submitted === true; else submitText" class="loader"></div>
      <ng-template #submitText>Sign in</ng-template>
    </button>
    <p>Don't have an account? Sign up <a [routerLink]="'/auth/signup'">here</a>.</p>
  </form>
</div>
