<div class="h-100 w-100 d-flex align-items-center justify-content-center text-center">
  <form [formGroup]="signupForm" (submit)="submitSignupForm()" class="auth-form">
    <h2 class="h2 mb-2 font-weight-bold text-primary">Resync HR</h2>
    <h4 class="h6 mb-3 font-weight-normal">Create an account</h4>

    <label for="fName" class="sr-only">First name</label>
    <input
      formControlName="firstName"
      id="fName"
      class="form-control form-invalid mb-2"
      placeholder="First name"
      [ngClass]="{'is-invalid': signupFormControls.firstName.dirty && signupFormControls.firstName.errors}"
    >

    <label for="lName" class="sr-only">Last name</label>
    <input
      formControlName="lastName"
      id="lName"
      class="form-control form-invalid mb-2"
      placeholder="Last name"
      [ngClass]="{'is-invalid': signupFormControls.lastName.dirty && signupFormControls.lastName.errors}"
    >

    <label for="email" class="sr-only">Email address</label>
    <input
      formControlName="email"
      id="email"
      class="form-control form-invalid mb-2"
      placeholder="Email address"
      [ngClass]="{'is-invalid': signupFormControls.email.dirty && signupFormControls.email.errors}"
    >

    <label for="password" class="sr-only">Password</label>
    <input
      formControlName="password"
      type="password"
      id="password"
      class="form-control mb-2"
      placeholder="Password"
      [ngClass]="{
        'is-invalid': (signupFormControls.password.dirty && signupFormControls.password.errors) ||
          (signupFormControls.password.dirty && signupFormControls.confirmPassword.dirty && signupForm.errors?.passwordMismatch)
      }"
    >

    <label for="confirmPassword" class="sr-only">Enter password again</label>
    <input
      formControlName="confirmPassword"
      type="password"
      id="confirmPassword"
      class="form-control mb-3"
      placeholder="Enter password again"
      [ngClass]="{
        'is-invalid': (signupFormControls.confirmPassword.dirty && signupFormControls.confirmPassword.errors) ||
          (signupFormControls.password.dirty && signupFormControls.confirmPassword.dirty && signupForm.errors?.passwordMismatch)
      }"
    >

    <!-- Show password validation errors if the form has been filled and the errors exists -->
    <div
      *ngIf="
        (signupFormControls.password.dirty && signupFormControls.confirmPassword.dirty && signupForm.errors?.passwordMismatch) ||
          (signupFormControls.password.dirty && signupFormControls.password.errors?.minlength)"
      class="mb-3"
    >
      <small
        *ngIf="signupFormControls.password.dirty && signupFormControls.confirmPassword.dirty && signupForm.errors?.passwordMismatch"
        class="text-danger d-block"
      >- Passwords do not match</small>

      <small
        *ngIf="signupFormControls.password.dirty && signupFormControls.password.errors?.minlength"
        class="text-danger d-block"
      >- Password must be at least {{signupFormControls.password.errors?.minlength?.requiredLength}} characters</small>
    </div>

    <button
      [disabled]="(signupForm.invalid || submitted) === true"
      class="btn btn-lg btn-primary btn-block mb-3"
      type="submit"
    >
      <div *ngIf="submitted === true; else submitText" class="loader"></div>
      <ng-template #submitText>Create account</ng-template>
    </button>
    <p>Already have an account? Sign in <a [routerLink]="'/auth/login'">here</a>.</p>
  </form>
</div>
