<div class="d-flex align-items-center justify-content-between flex-wrap">
  <h2 class="h2 mb-2">Organizations</h2>
  <a class="btn btn-primary btn-md mb-2" [routerLink]="['/organizations', 'new']">
    <i class="fa fa-plus"></i>&nbsp; New
  </a>
</div>

<div class="border-top w-100 mb-4"></div>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Country</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(loading$ | async) === false && organizationList; else loader">
      <tr *ngFor="let organization of organizationList | paginate: pagination; let i = index">
        <th class="text-center" scope="row">{{i + 1}}</th>
        <td>{{organization.name}}</td>
        <td>{{organization.owner}}</td>
        <td>{{organization.address}}</td>
        <td>{{organization.city}}</td>
        <td>{{organization.state}}</td>
        <td>{{organization.country}}</td>
        <td>
          <div class="d-flex align-items-center">
            <a [routerLink]="['/organizations', 'edit', organization.id]">Edit</a>
            &nbsp;|&nbsp;
            <button class="btn btn-clear btn-underline text-danger p-0" (click)="openDeleteConfirmationPopup(organization)">Delete</button>
          </div>
        </td>
      </tr>

      <tr *ngIf="organizationList.length === 0">
        <td class="text-center py-2" colspan="8">No organizations found</td>
      </tr>
    </ng-container>

    <ng-template #loader>
      <tr>
        <td colspan="8">
          <div class="loader my-2"></div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
</div>

<app-paginator *ngIf="(loading$ | async) === false && organizationList.length > 0" (pageChange)="handlePageChange($event)"></app-paginator>
