<h2 class="h2 mb-2 text-capitalize">{{mode}} Organization</h2>
<div class="border-top w-100 mt-2 mb-4"></div>

<form *ngIf="createEditForm; else loader" [formGroup]="createEditForm" (submit)="submitForm()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="name"
        class="form-control"
        id="name"
        placeholder="Name"
        [ngClass]="{'is-invalid': controls.name.dirty && controls.name.errors}"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="owner">Owner <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="owner"
        class="form-control"
        id="owner"
        placeholder="Owner"
        [ngClass]="{'is-invalid': controls.owner.dirty && controls.owner.errors}"
      >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="address">Address <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="address"
        class="form-control"
        id="address"
        placeholder="Address"
        [ngClass]="{'is-invalid': controls.address.dirty && controls.address.errors}"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="city">City <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="city"
        class="form-control"
        id="city"
        placeholder="City"
        [ngClass]="{'is-invalid': controls.city.dirty && controls.city.errors}"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="state">State <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="state"
        class="form-control"
        id="state"
        placeholder="State"
        [ngClass]="{'is-invalid': controls.state.dirty && controls.state.errors}"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="country">Country <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="country"
        class="form-control"
        id="country"
        placeholder="Country"
        [ngClass]="{'is-invalid': controls.country.dirty && controls.country.errors}"
      />
    </div>
  </div>
  <button
    [disabled]="(createEditForm.invalid || submitted) === true"
    type="submit"
    class="btn btn-lg btn-primary text-capitalize float-right"
  >
    <div *ngIf="submitted === true; else submitText" class="loader"></div>
    <ng-template #submitText>{{mode}}</ng-template>
  </button>
</form>

<ng-template #loader>
  <div class="loader loader--2x"></div>
</ng-template>