<ng-template #actionPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ actionPopupData.title }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss(PopupsAction.Cancel)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ actionPopupData.description }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [class]="
        actionPopupData.actionTextClassName
          ? actionPopupData.actionTextClassName
          : 'btn btn-md btn-primary'
      "
      (click)="modal.close(actionPopupData.action)"
    >
      {{ actionPopupData.actionText }}
    </button>
  </div>
</ng-template>
