// Remove browser custom style for button:focus
button:focus {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}

// Disable pointer events for disabled buttons
button:disabled {
  pointer-events: none;
  opacity: 0.7;
  transition: all 500ms ease;
}

a,
button {
  cursor: pointer;
}

p {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  // Remove user-agent styling margin on body
  margin: 0;
  height: 100vh;
}
