<h2 class="h2 mb-2 text-capitalize">{{mode}} Employee</h2>
<div class="border-top w-100 mt-2 mb-4"></div>

<form *ngIf="createEditForm; else loader" [formGroup]="createEditForm" (submit)="submitForm()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName">First name <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="firstName"
        class="form-control"
        id="firstName"
        placeholder="First name"
        [ngClass]="{'is-invalid': controls.firstName.dirty && controls.firstName.errors}"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last name <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="lastName"
        class="form-control"
        id="lastName"
        placeholder="Last name"
        [ngClass]="{'is-invalid': controls.lastName.dirty && controls.lastName.errors}"
      >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="dob">Date of Birth <span class="text-danger font-weight-bold">*</span></label>
      <input
        ngbDatepicker
        #datePicker="ngbDatepicker"
        formControlName="dob"
        class="form-control"
        id="dob"
        placeholder="Date of birth"
        (click)="datePicker.toggle()"
        [ngClass]="{'is-invalid': controls.dob.dirty && controls.dob.errors}"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="workTitle">Work Title <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="workTitle"
        class="form-control"
        id="workTitle"
        placeholder="Work Title"
        [ngClass]="{'is-invalid': controls.workTitle.dirty && controls.workTitle.errors}"
      />
    </div>
  </div>
  <div class="form-row">
    <div *ngIf="mode === 'create'" class="form-group col-md-6">
      <label for="organization">Organization <span class="text-danger font-weight-bold">*</span></label>
      <ngx-select
        [items]="organizationList"
        [multiple]="false"
        [autoClearSearch]="true"
        [formControl]="organizationFormControl"
        optionValueField="id"
        optionTextField="name"
        placeholder="Select an organization"
      ></ngx-select>
    </div>
    <div class="form-group col-md-6">
      <label for="departmentId">Department<span class="text-danger font-weight-bold">*</span></label>
      <ngx-select
        [items]="organizationDepartmentList"
        [multiple]="false"
        [autoClearSearch]="true"
        formControlName="departmentId"
        optionValueField="id"
        optionTextField="name"
        placeholder="Select a department"
      ></ngx-select>
    </div>
    <div class="form-group col-md-6">
      <label for="totalExperience">Years of experience <span class="text-danger font-weight-bold">*</span></label>
      <input
        formControlName="totalExperience"
        type="number"
        class="form-control"
        id="totalExperience"
        placeholder="Years of experience"
        [ngClass]="{'is-invalid': controls.totalExperience.dirty && controls.totalExperience.errors}"
      />
    </div>
  </div>
  <button
    [disabled]="(createEditForm.invalid || submitted) === true"
    type="submit"
    class="btn btn-lg btn-primary text-capitalize float-right"
  >
    <div *ngIf="submitted === true; else submitText" class="loader"></div>
    <ng-template #submitText>{{mode}}</ng-template>
  </button>
</form>

<ng-template #loader>
  <div class="loader loader--2x"></div>
</ng-template>