<h2 class="h2">Dashboard</h2>
<div class="border-top w-100 mt-2 mb-3"></div>

<div class="row">
  <div class="col-md-4 mb-2">
    <div class="card">
      <div class="card-body d-flex justify-content-between align-content-center flex-wrap">
        <h5>Organizations</h5>
        <h4>{{insightCount?.organization || 0}}</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="card">
      <div class="card-body d-flex justify-content-between align-content-center flex-wrap">
        <h5>Departments</h5>
        <h4>{{insightCount?.department || 0}}</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="card">
      <div class="card-body d-flex justify-content-between align-content-center flex-wrap">
        <h5>Employees</h5>
        <h4>{{insightCount?.employee || 0}}</h4>
      </div>
    </div>
  </div>
</div>